* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontsizeh2: 1.4rem;
  --fontsizep: 0.95rem;
  --fontsizelinks: 0.9rem;
  --linkslextcolor: rgb(119, 149, 208);
  --linkcolors: rgb(55, 93, 168);
  --alignselfTextColor: #1f5277;
  --fontFamLucida: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  font-size: 100%;
}

html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: serif;
  word-wrap: break-word;
  scroll-behavior: smooth;
}
header {
  padding: 1vh 3vw;
  margin: 2vh 0;
}

header div {
  display: none;
}

main.container {
  margin-top: 12.5%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  padding: 2vh 4vw;
}

.update {
  order: 2;
  -ms-flex-order: 2;
  padding-top: 2vh;
  color: var(--alignselfTextColor);
  font-family: var(--fontFamLucida);
}
.update p {
  font-size: var(--fontsizeh2);
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 3vh;
  text-align: center;
  word-spacing: -0.1rem;
  letter-spacing: -0.03rem;
}
.update ul {
  font-size: var(--fontsizelinks);
  color: var(--linkslextcolor);
  font-weight: 400;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 0.5rem;
}
.update ul li {
  line-height: 1.1rem;
}

.update ul li:nth-child(3):hover {
  color: #6ab343;
}

.update ul li:first-child {
  border-bottom: 1.5px solid;
}
.update ul li:first-child + li {
  border-bottom: 1.5px solid;
}
.update ul a {
  display: inline-block;
  font-size: var(--fontsizelinks);
  text-decoration: none;
  color: var(--linkslextcolor);
  font-weight: 400;
  border-bottom: 1.5px solid;
  line-height: 1.1rem;
}
.update a:hover {
  color: #6ab343;
  transform: scale(1.05);
  transition-duration: 0.1ms;
  filter: brightness(120%);
}

main.container .middle {
  width: 10rem;
  margin-bottom: -1.5rem;
}

main.container .middle img {
  width: 100%;
  height: auto;
  display: block;
}

.plinks {
  margin-bottom: 1.5vh;
  order: 6;
  -ms-flex-order: 6;
}
.container .plinks a {
  text-decoration: none;
  color: #6ab343;
  font-size: var(--fontsizelinks);
  font-family: var(--fontFamLucida);
  border-bottom: 1.5px solid #6ab343;
}
.container .plinks a:hover {
  filter: brightness(120%);
}
.social {
  order: 7;
  -ms-flex-order: 7;
}

.social .fa-linkedin-in:hover {
  display: inline-block;
  transform: scaleX(1.1);
  transition-duration: 0.5ms;
}
.social .fa-linkedin-in {
  font-size: 1.5rem;
  color: #fff;
  padding: 0.6rem;
  background-color: rgb(0, 119, 175);
  border-radius: 4px;
}

footer {
  margin-top: 25vh;
  padding: 6vh 0;
  padding-bottom: 1vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  color: #172049;
  font-family: var(--fontFamLucida);
}
footer p {
  font-size: var(--fontsizep);
}

footer p a {
  text-decoration: none;
  color: var(--linkslextcolor);
  font-size: var(--fontsizelinks);
  font-family: var(--fontFamLucida);
  border-bottom: 1.5px solid var(--linkcolors);
}

footer p a:hover {
  filter: brightness(120%);
}

footer .bttop {
  align-self: flex-end;
  margin-right: 3vw;
  display: block;
}
footer .bttop .fa-right-long {
  transform: rotate(-90deg);
  color: white;
  padding: 0.7rem;
  border: 1px solid var(--alignselfTextColor);
  background-color: var(--alignselfTextColor);
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  .update p {
    font-size: var(--fontsizeh2);
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 2vh;
    text-align: center;
  }
  s main.container .middle {
    width: 8.5rem;
  }

  footer {
    margin-top: 30vh;
  }
}

@media screen and (max-width: 858px) {
  main.container {
    margin-top: 14%;
  }
  .update p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 2vh;
    text-align: center;
  }
  .container.update ul li {
    font-size: 0.9rem;
    margin-bottom: 0.2vh;
  }

  main.container .middle {
    width: 7rem;
  }

  .plinks {
    margin-bottom: 1.5vh;
  }
  .container .plinks a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.9rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  .container .plinks a:hover {
    filter: brightness(120%);
  }

  .social .fa-linkedin-in {
    font-size: 1.1rem;
    margin-left: 0;
  }

  footer {
    padding: 6vh 0;
    padding-bottom: 1vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    color: #172049;
    font-family: var(--fontFamLucida);
  }

  footer p {
    font-size: 0.9rem;
  }
  footer p a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.85rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  footer p a:hover {
    filter: brightness(120%);
  }

  footer .bttop {
    align-self: flex-end;
    margin-right: 3vw;
    display: block;
  }
  footer .bttop .fa-right-long {
    transform: rotate(-90deg);
    color: white;
    padding: 0.8rem;
    font-size: 0.8rem;
    border: 1px solid var(--alignselfTextColor);
    background-color: var(--alignselfTextColor);
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 1rem;
  }

  header {
    padding: 4vh 1.5rem;
  }

  header div {
    display: block;
    color: var(--alignselfTextColor);
  }

  .update p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 2vh;
    text-align: center;
  }

  .update p {
    font-size: 1.25rem;
  }

  header div .fa-bars {
    font-size: 1.4rem;
  }
  main.container .update ul li {
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 426px) {
  body {
    padding: 1.5rem 2rem;
  }

  main.container {
    margin: 0;
    margin-top: 5%;
    padding: 0;
    gap: 2vh;
  }

  header {
    padding: 0;
    padding-top: 0;
  }

  .update {
    margin: 1vh 0;
    padding: 0;
    padding-top: 2vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }

  .update ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
  }
  .update ul li {
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 0;
  }

  main.container .middle {
    margin-top: 0;
    width: 100%;
  }

  .plinks {
    margin: 1rem 0;
  }
  .container .plinks a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.9rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
  .container .plinks a:hover {
    filter: brightness(120%);
  }

  .social .fa-linkedin-in {
    font-size: 1.1rem;
    margin-left: 0;
  }

  footer {
    margin-top: 20vh;
    padding: 6vh 0;
    padding-bottom: 1vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    color: #172049;
    font-family: var(--fontFamLucida);
  }

  footer p {
    font-size: 0.9rem;
    text-align: center;
  }
  footer p a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.85rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  footer p a:hover {
    filter: brightness(120%);
  }

  footer .bttop {
    align-self: flex-end;
    margin-right: 3vw;
    display: block;
  }

  footer .bttop .fa-right-long {
    transform: rotate(-90deg);
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid var(--alignselfTextColor);
    border-radius: 4px;
    background-color: var(--alignselfTextColor);
  }
}
@media screen and (max-width: 376px) {
  .update p {
    font-size: 1.25rem;
  }

  header div .fa-bars {
    font-size: 1.4rem;
  }
  .update {
    margin: 1vh 0;
    margin-bottom: 0;
    padding: 0;
    padding-top: 2vh;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
}
