* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontsizeh2: 1.4rem;
  --fontsizep: 1.1rem;
  --fontsizelinks: 0.9rem;
  --linkslextcolor: rgb(119, 149, 208);
  --linkcolors: rgb(55, 93, 168);
  --alignselfTextColor: #1f5277;
  --fontFamLucida: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  font-size: 100%;
}

body {
  font-family: serif;
  word-wrap: break-word;
}
header {
  padding: 1vh 3vw;
  margin: 2vh 0;
}

header div {
  display: none;
}

div.center {
  background-color: #182048;
}

main.container {
  margin-top: 4vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  padding: 2vh 4vw;
}

.update {
  order: 2;
  -ms-flex-order: 2;
  padding-top: 2vh;
  color: var(--alignselfTextColor);
  font-family: var(--fontFamLucida);
}
.update h2 {
  font-size: var(--fontsizeh2);
  line-height: 2rem;
  font-weight: bolder;
  margin-bottom: 1.2vh;
}
.update ul {
  font-size: var(--fontsizelinks);
  font-weight: 700;
  list-style-type: none;
}
.update ul li {
  line-height: 1.5rem;
}
.update ul li span {
  margin-right: 1vw;
}

.update ul li:last-child span .fa-circle-check {
  color: #6ab343;
}
.update ul a {
  display: inline-block;
  text-decoration: none;
  color: #6ab343;
  font-weight: 700;
}
.update a:hover {
  color: #6ab343;
  transform: scale(1.1);
  transition-duration: 0.5ms;
}

main.container .middle {
  width: 14rem;
}

main.container .middle img {
  width: 100%;
  height: auto;
  display: block;
}

p.unique {
  padding: 0 25%;
  order: 4;
  -ms-flex-order: 4;
  line-height: 1.5rem;
  font-size: var(--fontsizep);
  color: #2a345e;
  text-align: center;
  font-family: var(--fontFamLucida);
}
.plinks {
  margin-bottom: 1.5vh;
  order: 6;
  -ms-flex-order: 6;
}
.container .plinks a {
  text-decoration: none;
  color: var(--linkslextcolor);
  font-size: var(--fontsizelinks);
  font-family: var(--fontFamLucida);
  border-bottom: 1.5px solid var(--linkcolors);
}
.container .plinks a:hover {
  filter: brightness(120%);
}
.social {
  order: 7;
  -ms-flex-order: 7;
}

.social .fa-twitter {
  font-size: 1.2rem;
  color: #454d6d;
  margin-right: 0.5vw;
}
.social .fa-twitter:hover,
.social .fa-linkedin-in:hover {
  display: inline-block;
  transform: scaleX(1.1);
  transition-duration: 0.5ms;
}
.social .fa-linkedin-in {
  font-size: 1.2rem;
  color: #454d6d;
  margin-left: 0.5vw;
}

footer {
  margin-top: 20vh;
  padding: 6vh 0;
  padding-bottom: 2vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  color: #172049;
  font-family: var(--fontFamLucida);
}

footer p a {
  text-decoration: none;
  color: var(--linkslextcolor);
  font-size: var(--fontsizelinks);
  font-family: var(--fontFamLucida);
  border-bottom: 1.5px solid var(--linkcolors);
}

footer p a:hover {
  filter: brightness(120%);
}

footer .bttop {
  align-self: flex-end;
  margin-right: 3vw;
  display: block;
}
footer .bttop .fa-right-long {
  transform: rotate(-90deg);
  color: white;
  padding: 1rem;
  border: 1px solid var(--alignselfTextColor);
  background-color: var(--alignselfTextColor);
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  .update h2 {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  p.unique {
    padding: 0 23%;
  }

  main.container .middle {
    width: 13rem;
  }
}

@media screen and (max-width: 858px) {
  .update h2 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bolder;
    margin-bottom: 1.2vh;
  }
  .update ul li {
    font-size: 0.8rem;
    margin-bottom: 0.8vh;
  }
  .update ul li span {
    margin-right: 1rem;
    font-size: 1rem;
  }

  p.unique {
    padding: 0 13%;
    font-size: 0.9rem;
    color: #2a345e;
    text-align: center;
  }
  .plinks {
    margin-bottom: 1.5vh;
  }
  .container .plinks a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.8rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
  .container .plinks a:hover {
    filter: brightness(120%);
  }

  .social .fa-twitter {
    font-size: 1.1rem;
    margin-right: 0.3rem;
  }

  .social .fa-linkedin-in {
    font-size: 1.1rem;
    margin-left: 0.3rem;
  }

  footer {
    padding: 6vh 0;
    padding-bottom: 2vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    color: #172049;
    font-family: var(--fontFamLucida);
  }

  footer p {
    font-size: 0.9rem;
  }
  footer p a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.8rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  footer p a:hover {
    filter: brightness(120%);
  }

  footer .bttop {
    align-self: flex-end;
    margin-right: 3vw;
    display: block;
  }
  footer .bttop .fa-right-long {
    transform: rotate(-90deg);
    color: white;
    padding: 0.8rem;
    font-size: 0.8rem;
    border: 1px solid var(--alignselfTextColor);
    background-color: var(--alignselfTextColor);
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 1rem;
  }

  header {
    padding: 4vh 1.5rem;
  }

  header div {
    display: block;
  }

  header div .fa-bars {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 426px) {
  body {
    padding: 0 1.2rem;
  }

  main.container {
    padding: 0.7rem;
    gap: 5vh;
  }
  header {
    padding: 3vh 0.7rem;
  }

  header div .fa-bars {
    font-size: 1.3rem;
  }
  .update {
    margin: 2vh 0;
    padding: 0;
    padding-top: 2vh;
  }
  .update h2 {
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: bolder;
    margin-bottom: 1.8vh;
  }
  .update ul li {
    font-size: 0.8rem;
    margin-bottom: 0.4vh;
  }
  .update ul li span {
    margin-right: 1rem;
    font-size: 1rem;
  }

  main.container .middle {
    width: 100%;
  }

  p.unique {
    padding: 0;
    font-size: 0.9rem;
    color: #2a345e;
    text-align: center;
    line-height: 1.5rem;
  }
  .plinks {
    margin-bottom: 1.5vh;
  }
  .container .plinks a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.85rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
  .container .plinks a:hover {
    filter: brightness(120%);
  }

  .social .fa-twitter {
    font-size: 1.1rem;
    margin-right: 0.4rem;
  }

  .social .fa-linkedin-in {
    font-size: 1.1rem;
    margin-left: 0.4rem;
  }

  footer {
    margin-top: 15vh;
    padding: 6vh 0;
    padding-bottom: 2vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    color: #172049;
    font-family: var(--fontFamLucida);
  }

  footer p {
    font-size: 0.9rem;
    text-align: center;
  }
  footer p a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.85rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  footer p a:hover {
    filter: brightness(120%);
  }

  footer .bttop {
    align-self: flex-end;
    margin-right: 3vw;
    display: block;
  }

  footer .bttop .fa-right-long {
    transform: rotate(-90deg);
    color: white;
    padding: 0.9rem;
    font-size: 0.8rem;
    border: 1px solid var(--alignselfTextColor);
    border-radius: 50%;
    background-color: var(--alignselfTextColor);
  }
}

@media screen and (max-width: 376px) {
  body {
    padding: 0 1rem;
  }

  main.container {
    padding: 0.7rem;
    gap: 5vh;
  }
  header {
    padding: 3vh 0.7rem;
  }
}
