* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontsizeh2: 1.4rem;
  --fontsizep: 1rem;
  --fontsizelinks: 0.9rem;
  --linkslextcolor: rgb(119, 149, 208);
  --linkcolors: rgb(55, 93, 168);
  --alignselfTextColor: #1f5277;
  --fontFamLucida: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  font-size: 100%;
}

body {
  font-family: serif;
  word-wrap: break-word;
}
header {
  padding: 1vh 3vw;
  margin: 2vh 0;
}

header div {
  display: none;
}

div.center {
  background-color: #182048;
}

main.container {
  margin-top: 4vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  padding: 2vh 4vw;
}

.update {
  order: 2;
  -ms-flex-order: 2;
  padding-top: 2vh;
  color: var(--alignselfTextColor);
  font-family: var(--fontFamLucida);
}
.update p {
  font-size: var(--fontsizeh2);
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 2.5vh;
  text-align: center;
}
.update ul {
  font-size: var(--fontsizelinks);
  font-weight: 400;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 2rem;
  row-gap: 0.5rem;
}
.update ul li {
  line-height: 0;
}
.update ul li span {
  margin-right: 1vw;
}

.update ul li:nth-child(3):hover {
  color: #6ab343;
}

.update ul a {
  display: inline-block;
  text-decoration: none;
  color: var(--alignselfTextColor);
  font-weight: 400;
  border-bottom: 1.5px solid;
  line-height: 1rem;
}
.update a:hover {
  color: #6ab343;
  transform: scale(1.1);
  transition-duration: 0.5ms;
}

main.container .middle {
  width: 13rem;
}

main.container .middle img {
  width: 100%;
  height: auto;
  display: block;
}

p.unique {
  display: none;
  padding: 0 25%;
  order: 4;
  -ms-flex-order: 4;
  line-height: 1.5rem;
  font-size: var(--fontsizep);
  color: #2a345e;
  text-align: center;
  font-family: var(--fontFamLucida);
}
.plinks {
  margin-bottom: 1.5vh;
  order: 6;
  -ms-flex-order: 6;
}
.container .plinks a {
  text-decoration: none;
  color: var(--linkslextcolor);
  font-size: var(--fontsizelinks);
  font-family: var(--fontFamLucida);
  border-bottom: 1.5px solid var(--linkcolors);
}
.container .plinks a:hover {
  filter: brightness(120%);
}
.social {
  order: 7;
  -ms-flex-order: 7;
}

.social .fa-twitter {
  font-size: 1.2rem;
  color: #454d6d;
  margin-right: 0.5vw;
}
.social .fa-twitter:hover,
.social .fa-linkedin-in:hover {
  display: inline-block;
  transform: scaleX(1.1);
  transition-duration: 0.5ms;
}
.social .fa-linkedin-in {
  font-size: 1.2rem;
  color: #454d6d;
  margin-left: 0.5vw;
}

footer {
  margin-top: 20vh;
  padding: 6vh 0;
  padding-bottom: 2vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  color: #172049;
  font-family: var(--fontFamLucida);
}
footer p {
  font-size: 0.9rem;
}

footer p a {
  text-decoration: none;
  color: var(--linkslextcolor);
  font-size: var(--fontsizelinks);
  font-family: var(--fontFamLucida);
  border-bottom: 1.5px solid var(--linkcolors);
}

footer p a:hover {
  filter: brightness(120%);
}

footer .bttop {
  align-self: flex-end;
  margin-right: 3vw;
  display: block;
}
footer .bttop .fa-right-long {
  transform: rotate(-90deg);
  color: white;
  padding: 1rem;
  border: 1px solid var(--alignselfTextColor);
  background-color: var(--alignselfTextColor);
  border-radius: 1rem;
}

@media screen and (max-width: 1024px) {
  .update p {
    font-size: var(--fontsizeh2);
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 2vh;
    text-align: center;
  }

  /* p.unique {
    font-size: 0.9rem;
    padding: 0 23%;
  } */

  main.container .middle {
    width: 11rem;
  }
}

@media screen and (max-width: 858px) {
  .update p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 2vh;
    text-align: center;
  }
  .container.update ul li {
    font-size: 0.8rem;
    margin-bottom: 0.2vh;
  }
  .update ul li span {
    margin-right: 1rem;
    font-size: 1rem;
  }

  /* p.unique {
    padding: 0 13%;
    font-size: 0.9rem;
    color: #2a345e;
    text-align: center;
  } */
  main.container .middle {
    width: 9rem;
  }

  .plinks {
    margin-bottom: 1.5vh;
  }
  .container .plinks a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.8rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
  .container .plinks a:hover {
    filter: brightness(120%);
  }

  .social .fa-twitter {
    font-size: 1.1rem;
    margin-right: 0.3rem;
  }

  .social .fa-linkedin-in {
    font-size: 1.1rem;
    margin-left: 0.3rem;
  }

  footer {
    padding: 6vh 0;
    padding-bottom: 2vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    color: #172049;
    font-family: var(--fontFamLucida);
  }

  footer p {
    font-size: 0.8rem;
  }
  footer p a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.8rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  footer p a:hover {
    filter: brightness(120%);
  }

  footer .bttop {
    align-self: flex-end;
    margin-right: 3vw;
    display: block;
  }
  footer .bttop .fa-right-long {
    transform: rotate(-90deg);
    color: white;
    padding: 0.8rem;
    font-size: 0.8rem;
    border: 1px solid var(--alignselfTextColor);
    background-color: var(--alignselfTextColor);
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 1rem;
  }

  header {
    padding: 4vh 1.5rem;
  }

  header div {
    display: block;
    color: var(--alignselfTextColor);
  }

  .update p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 2vh;
    text-align: center;
  }

  header div .fa-bars {
    font-size: 1.3rem;
  }
  main.container .update ul li {
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 426px) {
  body {
    padding: 0 1.2rem;
  }

  main.container {
    padding: 0.7rem;
    gap: 4vh;
  }
  header {
    padding: 3vh 0.7rem;
  }

  header div .fa-bars {
    font-size: 1.3rem;
  }
  .update {
    margin: 2vh 0;
    padding: 0;
    padding-top: 2vh;
  }

  .update ul li {
    font-size: 0.8rem;
    margin-bottom: 0.4vh;
  }

  .update ul li span {
    margin-right: 1rem;
    font-size: 1rem;
  }

  main.container .middle {
    width: 100%;
  }

  .plinks {
    margin-bottom: 1.5vh;
  }
  .container .plinks a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.85rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
  .container .plinks a:hover {
    filter: brightness(120%);
  }

  .social .fa-twitter {
    font-size: 1.1rem;
    margin-right: 0.4rem;
  }

  .social .fa-linkedin-in {
    font-size: 1.1rem;
    margin-left: 0.4rem;
  }

  footer {
    margin-top: 15vh;
    padding: 6vh 0;
    padding-bottom: 2vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    color: #172049;
    font-family: var(--fontFamLucida);
  }

  footer p {
    font-size: 0.9rem;
    text-align: center;
  }
  footer p a {
    text-decoration: none;
    color: var(--linkslextcolor);
    font-size: 0.85rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  footer p a:hover {
    filter: brightness(120%);
  }

  footer .bttop {
    align-self: flex-end;
    margin-right: 3vw;
    display: block;
  }

  footer .bttop .fa-right-long {
    transform: rotate(-90deg);
    color: white;
    padding: 0.9rem;
    font-size: 0.8rem;
    border: 1px solid var(--alignselfTextColor);
    border-radius: 50%;
    background-color: var(--alignselfTextColor);
  }
}
@media screen and (max-width: 376px) {
  main.container {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 2vh 4vw;
  }

  .update {
    margin-top: 0;
    padding-top: 0;
  }
  main.container .middle {
    margin-bottom: 0;
  }
  body {
    padding: 0 1rem;
  }

  main.container {
    padding: 0.7rem;
    gap: 5vh;
  }
  header {
    padding: 3vh 0.7rem;
  }
}

@media screen and (max-width: 365px) {
  .update ul {
    margin-left: 4vw;
    font-size: var(--fontsizelinks);
    font-weight: 400;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    row-gap: 0;
  }
  .update ul li {
    line-height: 0;
    width: 100%;
    margin: 0;
  }
  .update p {
    font-size: 1.2rem;
  }
  .update ul li span {
    margin-right: 5vw;
  }
  .update ul li span .fa-circle-check {
    font-size: 0.9rem;
  }
}
