* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fontsizeh2: 2.3rem;
  --fontsizep: 1rem;
  --fontsizelinks: 0.9rem;
  --linkslextcolor: rgb(119, 149, 208);
  --linkcolors: rgb(55, 93, 168);
  --alignselfTextColor: #1f5277;
  --fontFamLucida: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  font-family: serif;
  word-wrap: break-word;
}

main {
  width: 97%;
  margin: 0 auto;
}

main header {
  padding: 1rem 0;
  padding-bottom: 0;
}

main header figure {
  min-width: 3rem;
  width: 7%;
  max-width: 4.5rem;
}

main header figure img {
  width: 100%;
  height: auto;
}

.whitepapers p.paper {
  color: #172049;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: var(--fontsizeh2);
  color: var(--alignselfTextColor);
}

section.whitepapers {
  margin-bottom: 400px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

section.whitepapers div.companies {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  row-gap: 35px;
  column-gap: 6%;
}

section.whitepapers div.companies p {
  min-width: 200px;
  width: 42%;
  max-width: 500px;
  box-shadow: 4px 4px 40px 5px rgba(167, 166, 166, 0.15),
    -4px -4px 40px 5px rgba(167, 166, 166, 0.15);
}

section.whitepapers div.companies p:hover {
  transform: scale(1.01); /*negative values inverts images upside down*/
  transition-duration: 0.1s;
  box-shadow: none;
}

.whitepapers .companies p a {
  display: block;
}

.whitepapers .companies p a img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  padding-bottom: 6px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: #172049;
  font-family: var(--fontFamLucida);
}

.social .fa-twitter:hover,
.social .fa-linkedin-in:hover {
  display: inline-block;
  transform: scaleX(1.1);
  transition-duration: 0.5ms;
}
.social .fa-linkedin-in {
  font-size: 1.4rem;
  color: #fff;
  padding: 8px;
  background-color: rgb(0, 119, 175);
  border-radius: 4px;
}

footer p {
  font-size: 0.9rem;
}

footer p a {
  text-decoration: none;
  color: var(--linkslextcolor);
  font-size: var(--fontsizelinks);
  font-family: var(--fontFamLucida);
  border-bottom: 1.5px solid var(--linkcolors);
}

footer p a:hover {
  filter: brightness(120%);
}

footer .bttop {
  align-self: flex-end;
  margin-right: 3vw;
  display: block;
}
footer .bttop .fa-right-long {
  transform: rotate(-90deg);
  color: white;
  padding: 10px;
  border: 1px solid var(--alignselfTextColor);
  background-color: var(--alignselfTextColor);
  border-radius: 4px;
}

@media screen and (max-width: 1024px) {
  main header figure {
    min-width: 2rem;
    width: 7%;
    max-width: 3.8rem;
  }

  .whitepapers p.paper {
    font-size: 2.1rem;
  }

  section.whitepapers {
    gap: 30px;
  }

  section.whitepapers div.companies {
    column-gap: 3%;
    row-gap: 40px;
  }

  section.whitepapers div.companies p {
    min-width: 150px;
    width: 48.5%;
    max-width: 481px;
  }
}

@media screen and (max-width: 768px) {
  main header {
    padding: 1rem 0;
  }

  main header figure {
    min-width: 2.5rem;
    width: 7.5%;
    max-width: 3rem;
  }

  section.whitepapers {
    gap: 35px;
  }

  section.whitepapers div.companies {
    column-gap: 4%;
  }

  section.whitepapers div.companies p {
    min-width: 120px;
    flex: 1 1 250px;
    max-width: 500px;
  }

  .whitepapers p.paper {
    font-size: 1.9rem;
  }

  .social .fa-twitter:hover,
  .social .fa-linkedin-in:hover {
    display: inline-block;
    transform: scaleX(1.1);
    transition-duration: 0.5ms;
  }
  .social .fa-linkedin-in {
    font-size: 1.2rem;
    padding: 6px;
  }

  footer p {
    font-size: 0.85rem;
  }

  footer p a {
    color: var(--linkslextcolor);
    font-size: 0.8rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }

  footer p a:hover {
    filter: brightness(120%);
  }

  footer .bttop .fa-right-long {
    transform: rotate(-90deg);
    padding: 6px;
    border: 1px solid var(--alignselfTextColor);
    background-color: var(--alignselfTextColor);
    border-radius: 4px;
  }
}

@media screen and (max-width: 642px) {
  main {
    width: 92%;
  }
  section.whitepapers div.companies {
    row-gap: 50px;
  }

  section.whitepapers div.companies p {
    min-width: 150px;
    flex: 1 1 300px;
    max-width: 500px;
    box-shadow: 4px 4px 40px 5px rgba(167, 166, 166, 0.2),
      -4px -4px 40px 5px rgba(167, 166, 166, 0.2);
  }

  .whitepapers p.paper {
    font-size: 1.7rem;
  }
  .social .fa-linkedin-in {
    font-size: 1rem;
    padding: 5px;
  }

  footer p {
    font-size: 0.8rem;
  }

  footer p a {
    color: var(--linkslextcolor);
    font-size: 0.75rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
}

@media screen and (max-width: 482px) {
  main header {
    padding: 3.5vw 0;
  }

  main {
    width: 93%;
  }
  section.whitepapers {
    margin-top: 10px;
    margin-bottom: 200px;
  }
  section.whitepapers div.companies {
    column-gap: 10%;
    row-gap: 50px;
  }

  section.whitepapers div.companies p {
    min-width: 200px;
    max-width: 480px;
    flex: 1 1 300px;
  }

  .whitepapers p.paper {
    font-size: 1.8rem;
  }
  .social .fa-linkedin-in {
    font-size: 1rem;
    padding: 5px;
  }

  footer p {
    font-size: 0.85rem;
  }

  footer p a {
    color: var(--linkslextcolor);
    font-size: 0.75rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
}

@media screen and (max-width: 376px) {
  main header figure {
    min-width: 1.5rem;
    width: 1.5rem;
  }

  main header {
    padding: 5vw 0;
  }

  main header figure {
    width: 8%;
    min-width: 2.5rem;
    max-width: 6rem;
  }

  main {
    width: 90%;
  }
  section.whitepapers {
    margin-top: 4px;
    gap: 7vw;
  }

  section.whitepapers div.companies {
    row-gap: 10vw;
  }
  .whitepapers p.paper {
    font-size: 1.6rem;
    box-shadow: none;
  }
  .social .fa-linkedin-in {
    font-size: 1rem;
    padding: 5px;
  }

  footer {
    width: 90%;
    margin: 0 auto;
  }
  footer p {
    font-size: 0.75rem;
  }

  footer p a {
    color: var(--linkslextcolor);
    font-size: 0.7rem;
    font-family: var(--fontFamLucida);
    border-bottom: 1.5px solid var(--linkcolors);
  }
}
